redirects on
source https://nuget.org/api/v2

nuget FSharp.Configuration
nuget GNaP.WebApi.Versioning
nuget Microsoft.AspNet.WebApi.Cors
nuget Microsoft.AspNet.WebApi.Owin
nuget Microsoft.Owin.Host.SystemWeb
nuget tickspec
nuget nunit