<h1><a href="#/">{{ site.title }}</a></h1>
<ul id='links'>
  {% for post in site.posts %}
    {% if post.category == null %}
    <li><a href='#{{ post.url }}'>{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
  {% for category in site.categories %}
  <li><h2>{{ category[0] }}</h2>
    <ul>
    {% assign sorted_posts = (category[1] | sort: 'order', 'last') %}
    {% for post in sorted_posts %}
        <li class='{{ post.type }}'><a href='#{{ post.url }}'>{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
